body {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;

}

h1, h2 {
  color: #3f1622;
}
ol {
  color: #8f2440;
}

blockquote {
  font-size: 1.125rem;
}

span {
  color: #8f2440;
}
p {
  font-family: 'PT Serif', serif;
}
